<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <form action="" method="POST"></form>


    <label for="distancia">Distância percorrida por dia em km (Somando ida e volta)</label>
    <input type="number" name="distancia" id="distancia">
    <br><br>

    <label for="dia">Dias de deslocamento por semana</label>
    <input type="number" name="dia" id="dia">
    <br><br>

    <label for="transporte">Meio de transporte</label>
    <select type="text" name="transporte" id="transporte">
        <option value="bike">Bicicleta ou a pé</option>
        <option value="eletrico">Carro elétrico</option>
        <option value="onibus">Ônibus </option>
        <option value="moto">Moto</option>
        <option value="carro">Carro</option>
    <br><br>
</div>
</body>
</html>